@import '../../theme/palette';

.experience {
    margin: 20px;
    text-align: left;

    div {
        width: 300px;
  }

    h1 {
        color: $paletteColor3;
        font-size: 20px;
        text-decoration: underline;
  }

    img {
        width: 300px;
        height: 300px;
        margin-right: 20px;
        float: left;
  }
}
