@import '../../theme/palette';

.experience {
    margin: 20px;
    text-align: left;

    div {
        width: 300px;
  }

    h1 {
        margin-top: 0;
        color: $paletteColor3;
        font-size: 20px;
        text-decoration: underline;
  }

    img {
        width: 300px;
        height: 300px;
        margin-right: 20px;
        float: left;
  }

    ul {
        padding: 0;
        list-style: none;
  }

    li {
        margin-bottom: 15px;
  }

    span {
        display: block;
        padding: 5px;
        font-family: Spinnaker sans-serif;
        font-size: 16px;
  }

    .header {
        font-weight: bold;
  }
}
